<!-nav-->
<div class="div-border">
  <div class="row">
    <div class="small-7 small-centered columns">
      <ul class="">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Services', services_path %></li>
        <li><%= link_to 'Patients', patients_path %></li>


<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

      </ul>
    </div>
  </div> 
</div>