<% content_for :nav do %>
    <%= render "nav" %>
<% end %> 

<%content_for :title do %>
	Patients | Patients
<% end %>

<% content_for :row1 do %>
	<div class="small-10 small-offset-1 columns div-border">	
		<div id="tabs" style="display: none;">
			
			<ul>
				<li><a href="#tabs-1">Schedule Exam</a></li>
				<li><a href="#tabs-2">Registration & Screening</a></li>
				<li><a href="#tabs-3">Post Visit Survey</a></li>
				<li><a href="#tabs-4">Insurance Providers</a></li>
			</ul>

		  	<div id="tabs-1">
	    		<%=render "schedexam" %>
		  	</div>

		  	<div id="tabs-3">
	    		<%=render "survey" %>
		  	</div>
				
		  	<div id="tabs-2">
	    		<%=render "regscreening" %>
		  	</div>
		  	  
		  	<div id="tabs-4">
	    		<%=render "insurance" %>
		  	</div>

		</div>
	</div>
<% end %>

<% content_for :footer do %>
    <%= render "footer" %>
<% end %>



