
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
 <link rel="stylesheet" href="/resources/demos/style.css">



<% content_for :title do %>
  Community Imaging | Services
<% end %>

<% content_for :nav do %>
    <%= render "nav" %>
<% end %>


<% content_for :slideshow do %>
 <ul data-orbit data-options="navigation_arrows:false; slide_number: false;" >
    <li>
      <%= image_tag "MRI-Scroll-1.png" %>
    </li>
    <li>
      <%= image_tag "MRI-Scroll-2.png" %>
    </li>
    <li>
      <%= image_tag "MRI-Scroll-3.png" %>
    </li>
    <li>
      <%= image_tag "MRI-Scroll-4.png" %>
    </li>
  </ul> 
<% end %>

  <script>
  $(document).ready(function(){
  	console.log('test');
  	$(function() {
    $( "#tabs" ).tabs();
  });
  	});
  </script>


<% content_for :row1 do %>

	<div class="small-10 small-offset-1 columns div-border">	
		<div id="tabs">
			
			<ul>
				<li><a href="#tabs-1">Arthrography</a></li>
				<li><a href="#tabs-2">MRI</a></li>
				<li><a href="#tabs-3">X-Ray</a></li>
			</ul>

	  	<div id="tabs-1">
				Test Par 1
	  	</div>
	  
	  	<div id="tabs-2">
				Test Par 2
	  	</div>
	  
	  	<div id="tabs-3">
	 			Test Par 3
	  	</div>

		</div>
	</div>

<% end %>

<% content_for :footer do %>
    <%= render "footer" %>
<% end %>

