<!-nav-->
<div>
  <div class="row">
  <div class="small-12 columns large-offset-1">

    <div class="small-1 columns">
      <ul href="#" data-dropdown="drop1">
        <%= link_to 'Home', root_path %>
      </ul>
    </div>


    <a href="#" data-dropdown="drop2">About</a>
    <ul id="drop2" class="f-dropdown" data-dropdown-content>
      <li><%= link_to 'Mission', mission_path %></li>
      <li><%= link_to 'Staff', people_path %></li>
      <li><%= link_to 'Directions', directions_path %></li>
    </ul>


    <a href="#" data-dropdown="drop3">Services</a>
    <ul id="drop3" class="f-dropdown" data-dropdown-content>
      <li><%= link_to 'Arthrography', services_path %></li>
      <li><%= link_to 'MRI', services_path %></li>
      <li><%= link_to 'X-Ray', services_path %></li>
    </ul>

    <a href="#" data-dropdown="drop4">Patients</a>
    <ul id="drop4" class="f-dropdown" data-dropdown-content>
      <li><%= link_to 'Schedule an exam', patients_path %></li>
      <li><%= link_to 'Registration & Screening', patients_path %></li>
      <li><%= link_to 'Post-Visit Survey', patients_path %></li>
    </ul>


    <a href="#" data-dropdown="drop4">
      <%= link_to 'Insurance Providers', insurance_path %>
    </a>

    <a href="https://pacs.commimaging.com/index.jsp">
      Referring Physicians
    </a>


  </div>
  </div>
</div>
