
<div class = "RadText"> 
	<span class = "name"> Jon R. Jester, M.D.  </span> <br>
	Medical Director<br>
	Residency- University of Chicago<br>
	M.D. - Creighton University<br>
	B.S. - Stanford University.<br>
	Interests: Orthopedic MRI, Neuro and Body Imaging, MRI, Ultrasound, CT, PET
</div>      

 
<div class="aboutBoxRad"> 
	<%= image_tag "Heather.png" %> 
</div> 
  
<div class = "RadTextRight"> 
		<span class = "name"> Heather Vojcihoski, RT (R) (CT) </span><br>
		Manager, Operations & Business Development<br>
		As a registered X-Ray and Special Procedures technologist with a specialization in CT, Heather's role is managing the day to 
		day activities at Community Imaging. She also manages the technologist’s responsibilities and 
		works as a liaison for the Radiology and Nuclear Consultants PACS system.
</div>

<div class="aboutBox"> 
	<%= image_tag "JW.png" %> 
</div>

<div class = "RadText" style = "margin-top:px;"> 
	<span class = "name"> John Wellhausen, CPA, MBA </span> <br>
	Business Manager<br>

	In addition, John is President of the Memphis Gamma Knife, LLC and consults in a number of other situations.  He is a Registered Illinois CPA and received his MBA from the University of Chicago. 
</div>          

<div class ="row">
	<p class="label-lw"> Radiologists </p>
</div>
 
<div class="aboutBox">
	<%= image_tag "choe.png" %> 
</div>

<div class = "RadText"> 
	<span class = "name"> David C. Choe, M.D.</span> 
	Fellowship in Body Imaging- Northwestern
	University, Evanston Hospital <br>
	Residency- Loyola University Medical Center<br>
	M.D.- Northwestern University Medical School<br>
	B.A.- University of Chicago <br>
	Interests: Orthopedic and Body Imaging, MRI
</div>      


<div class="aboutBoxRad"> 
	<%= image_tag "Rad-6-Sm.png" %>  
</div> 
  

<div class = "RadTextRight"> 
	<span class = "name">Daniel Frankel, M.D.</span> 
	Fellowship in Nuclear Medicine- Loyola University
	Medical Center <br>
	M.D.- University of Illinois College of Medicine<br>
	B.S.- Massachusetts Institute of Technology<br>
	Interests: Ultrasound, MSK Radiology, Nuclear Medicine, PET
</div>

<div class="aboutBox"> 
	<%= image_tag "horton.png" %> 
</div>

<div class = "RadText"> 
	<b> <span class = "name"> Michael G. Horton, M.D. </span> </b> <br>
	Fellowship in Vascular and Interventional Radiology- 
	Medical College of Wisconsin<br>
	Residency- Medical College of Wisconsin <br>
	M.D. - University of Health Sciences  <br>
	B.S. - University of Iowa  <br>
	Interests: Interventional Radiology  
</div>      

<div class="aboutBoxRad"> 
	<%= image_tag "Rad-5-Sm.png" %> 
</div> 
  
<div class = "RadTextRight"> 
	<span class = "name"> Heidi Lipp, D.O. </span> </b><br>
	Fellowship in Mammography/MRI- University of Illinois at Chicago<br>
	Residency in Radiology- Cook County Hospital <br>
	D.O. - Midwestern University <br>
	B.A. - Kenyon College <br>
	Interests: Mammography
</div>

<div class="aboutBox"> 
	<%= image_tag "Rad-8-Miccaletti-Sm.png" %> 
</div>

<div class = "RadText"> 
	<span class = "name"> Michael A. Micaletti, M.D. </span> <br>
	Fellowship in Diagnostic Radiology- Northwestern University <br>
	Residency- Cook County Hospital and Mt. Sinai Medical Center <br>
	M.D. - UHS/The Chicago Medical School <br>
	B.S. - Loyola University of Chicago  <br>
	Interests: CT and MRI Body Imaging 
</div>      

<div class="aboutBoxRad"> 
	<%= image_tag "Rad-9-Dr-M-Sm.png" %>  
</div> 

<div class = "RadTextRight"> 
	<span class = "name">Aris Musabji, M.D. </span> <br>
	Fellowship in Musculoskeletal Imaging- Ohio State Medical Center <br>
	Residency- Loyola University Medical Center<br>
	M.D. - Loyola University Stritch School of Medicine <br>
	B.A. - Loyola University Chicago <br>
	Interests: MSK Imaging, Neuro Imaging 
</div>


<div class="aboutBox"> 
	<%= image_tag "nudo.png" %>  
</div>

<div class="RadText"> 
	<span class="name"> Steven R. Nudo, M.D.</span></b>
	Fellowship in MRI- Proscan Imaging <br>
	Residency- University of Vermont <br>
	M.D.- Creighton University <br>
	B.S.- Creighton University <br>
	Interests: Orthopedic, Neuro, Body MR and Body Imaging
</div>      

<div class="aboutBoxRad"> 
	<%= image_tag "Rad-10-Sm.png" %> 
</div>  


<div class = "RadTextRight"> 
	<b> <span class = "name"> Gregroy J. Ostrowski, D.O. </span></b><br>
	Fellowship in Mammography/MRI- University of Illinois at Chicago <br>
	Radiology - Medical College of Wisconsin <br>
	Residency- Chicago Osteopathic Hospitals <br>
	M.D.-Chicago College of Osteopathic Medicine <br>
	B.A.- Drake University <br>
	Interests: Neuro, Vascular & Interventional Radiology, Orthopedic & Body MRI
</div>


<div class="aboutBox"> 
	<%= image_tag "Rad-4-Sm.png" %> 
</div>

<div class= "RadText"> 
	<b> <span class="name"> Nancy Putnam, M.D. </span> </b> <br>
	Fellowship in Neuroradiology- Northwestern Memorial Hospital <br>
	Residency- St. Francis Hospital Evanston, IL <br>
	M.D.- Loyola University Stritch School of Medicine <br> 
	B.S.- Lawrence University<br>
	Interests: Neuro Imaging
</div>      

<div class="aboutBoxRad"> 
	<%= image_tag "Rad-2-Franklin-Tan-Sm.png" %>  
</div> 
 
<div class = "RadTextRight"> 
	<b><span class="name">Franklin C. Tan, M.D. </span> </b>  <br>
	Fellowship in Vascular and Interventional <br>
	Radiology- Mallinckrodt Institute of Radiology <br> 
	Residency- Loyola University Medical Center <br>
	M.D.- Northwestern University Medical School <br>
	B.A.- Northwestern University <br>
	Interests: Interventional Radiology
</div>

<div class="aboutBox"> 
	<%= image_tag "Rad-7-Sm.png" %>   
</div>   

<div class="RadText"> 
	<b><span class = "name">Irwin Thimm, M.D. </span> </b>  <br>
	Fellowship in Mammography- Massachusetts General Hospital <br>
	Residency- Indiana University Medical Center <br>
	M.D. - Rush Medical School <br>
	B.S. - University of Illinois <br>
	Interests: Mammography 
</div>      

<p class="label-lw"> Staff </p>

<div class="aboutBox"> 
	<%= image_tag "Skaiste.png" %>  
</div>

<div class= "RadText"> 
	<b> <span class = "name"> Skaiste Baciunaite </span> </b> <br>
	Patient Services Representative<br>
	Skaiste has been with Community Imaging since October 2012.  She was born in Lithuania and has been
	in the states since 1996.  Her education was in Forensic Phycology and Latin dance. She is part of 
	Latin Street, Inc a dance company in Chicago.  Her love for her job is reflected in her infectious smile.
</div>      

<div class="aboutBoxRad"> 
	<%= image_tag "Samantha.png" %> 
</div>   


<div class = "RadTextRight"> 
	<span class = "name">Samantha McFadden</span><br>
	Technologist<br>
	With Community Imaging since January of 2011,
	Samantha is a recent graduate from the College of DuPage’s Radiology program. There she gained clinical experience at Good Samaritan Hospital. She not only recently graduated, but is a newlywed, as well. 
</div>

<div class="aboutBox">  
	<%= image_tag "Courtney.png" %> 
</div>

<div class = "RadText"> 
	<span class = "name"> Courtney Svoboda</span> <br>
	Patient Services Representative<br>
	With Community Imaging since August of 2012, Courtney attended school to study Phycology and Early Childhood Education. Her kind heart shines through with her patience while scheduling. Outside of work Courtney loves caring for children, she’s a nanny for many area families.  
</div>      

 
<div class="aboutBoxRad"> 
	<%= image_tag "Shirley.png" %>  
</div> 
  
<div class = "RadTextRight"> 
	<b> <span class = "name">Shirley Wetzel</span> </b><br>
	Billing & Patient Service Representative<br>
	An integral member of our team for over 20 years, Shirley stays strong with the changing times and current with relevent technologies. Outside of work she enjoys the outdoors 
	and her grandchildren.  If we ever want to know what a flower or an animal is, we just ask Shirley. She 
	resides in St. Charles on the Fox River.
</div>

<div class="aboutBox"> 
	<%= image_tag "Holly.png" %>  
</div>

<div class= "RadText"> 
	<b> <span class = "name"> Holly Barnett </span> </b> <br>
	Marketing Representative<br>
	Holly graduated from the University of Kansas in 1990 with a Bachelor of Science in Journalism. Since then she has worked as a Media Buyer for Brian Keith Advertising Agency, a Senior Account Executive for the Chicago Tribune, and a Regional Account Executive for ADVO Direct Mail. She joined Community Imaging in February, 2013.
</div>