 <div class="row">
    <div class="small-8 columns">
        <div class="small-5 small-offset-1 column">
          <%= simple_form_for @registration, url: screenings_path do |f| %>
            <%= f.input :fname, label: "first name", placeholder: "first name" %>
            <%= f.input :address, label: "address", placeholder:"address" %>
            <%= f.input :state, label: "state", placeholder:"state" %>
            <%= f.input :home_phone, label: "home phone", placeholder:"home phone" %>
        </div>

        <div class="small-5 column">
          <%= f.input :lname, label: "last Name", placeholder: "last name" %>
          <%= f.input :city, label: "city", placeholder: "city" %>
          <%= f.input :zip, label: "zip", placeholder:"zip" %>
          <%= f.input :cell_phone, label: "cell phone", placeholder:"cell phone" %>
        </div>
    </div>
</div>

<hr>

<div class="row">
  <div class="small-8 columns">

    <div class="small-5 small-offset-1 column">
          <%= f.input :height, label: "height", placeholder:"height" %>
          <%= f.input :referring_physician, label: "referring physician", placeholder:"referring physician" %>
          <%= f.input :insurance_provider, label: "insurance provider", placeholder:"insurance provider" %>
          <%= f.input :group_number, label: "group number", placeholder:"group number" %>

    </div>

    <div class="small-5 column">
          <%= f.input :weight, label: "weight", placeholder:"weight" %>
          <%= f.input :procedure_type, label: "procedure type", placeholder:"procedure type" %>
          <%= f.input :id_number, label: "id number", placeholder:"id number" %>
          <%= f.input :insurance_phone, label: "insurance phone", placeholder:"insurance phone" %>
    </div>
  </div>
</div>

<hr>

  <div class='row'>
    <div class="small-8 small-offset-1 columns">
      <ol id='registration'>
        <!--- Survey goes here !-->
      </ol>
    </div>
  </div>

  <div class='row'>
    <div class='small-11 small-offset-1 columns'>

      <%= label :gunshot_bbs_shrapnel_wounds, "gunshot_bbs_shrapnel_wounds? yes:" %>
      <%= f.radio_button :gunshot_bbs_shrapnel_wounds, true, :value => true %>
      <%= label :gunshot_bbs_shrapnel_wounds, "no" %>
      <%= f.radio_button :gunshot_bbs_shrapnel_wounds, false, :value => false %>


          <%= f.submit "Submit" %>
          <% end %> 
    </div>
  </div>

<% content_for :javascript do %>
  <script>
  var conditionArray =['Gunshot/BBS/Shrapnel wounds:',
                        'Vascular surgery:',
                        'Pacemaker/Heart surgery:',
                        'Brain surgery/Aneurysm Clips:',
                        'Diabetic:',
                        'Take Glucophage/Metformin?',
                        'History of Cancer/Tumors:',
                        'Tattoos/Body Piercings:',
                        'Kidney/Liver Problems:',
                        'Contrast Allergy:',
                        'Ear Implants/Hearing Aids:',
                        'Blood/Bleeding Disorder:',
                        'IUD:'];

    var answerArray =['yes','no'];


  </script>
<% end %>




