 <div class="row">
    <div class="small-8 columns">
        <div class="small-5 small-offset-1 column">
          <%= simple_form_for @registration, url: screenings_path do |f| %>
            <%= f.input :fname, label: "first name", placeholder: "first name" %>
            <%= f.input :address, label: "address", placeholder:"address" %>
            <%= f.input :state, label: "state", placeholder:"state" %>
            <%= f.input :home_phone, label: "home phone", placeholder:"home phone" %>
        </div>

        <div class="small-5 columns">
          <%= f.input :lname, label: "last Name", placeholder: "last name" %>
          <%= f.input :city, label: "city", placeholder: "city" %>
          <%= f.input :zip, label: "zip", placeholder:"zip" %>
          <%= f.input :cell_phone, label: "cell phone", placeholder:"cell phone" %>
        </div>
    </div>
</div>

<hr>

<div class="row">
  <div class="large-8 columns">

    <div class="small-5 small-offset-1 column">
          <%= f.input :height, label: "height", placeholder:"height" %>
          <%= f.input :referring_physician, label: "referring physician", placeholder:"referring physician" %>
          <%= f.input :insurance_provider, label: "insurance provider", placeholder:"insurance provider" %>
          <%= f.input :group_number, label: "group number", placeholder:"group number" %>

    </div>

    <div class="small-5 columns">
          <%= f.input :weight, label: "weight", placeholder:"weight" %>
          <%= f.input :procedure_type, label: "procedure type", placeholder:"procedure type" %>
          <%= f.input :id_number, label: "id number", placeholder:"id number" %>
          <%= f.input :insurance_phone, label: "insurance phone", placeholder:"insurance phone" %>
    </div>
  </div>
</div>

<hr>

  <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :gunshot_bbs_shrapnel_wounds, "gunshot, bbs, or shrapnel wounds?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :gunshot_bbs_shrapnel_wounds, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :gunshot_bbs_shrapnel_wounds, false, :value => false %>
      </div>

    </div>
  </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :vascular_surgery, "vascular_surgery?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :vascular_surgery, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :vascular_surgery, false, :value => false %>
      </div>

    </div>
  </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :pacemaker_heart_surgery, "pacemaker_heart_surgery?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :pacemaker_heart_surgery, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :pacemaker_heart_surgery, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :brain_surgery_aneurysm_clips, "brain_surgery_aneurysm_clips?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :brain_surgery_aneurysm_clips, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :brain_surgery_aneurysm_clips, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :diabetic, "diabetic?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :diabetic, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :diabetic, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :glucophage_metformin, "glucophage_metformin?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :glucophage_metformin, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :glucophage_metformin, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :cancer_tumors, "cancer_tumors?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :cancer_tumors, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :cancer_tumors, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :tattoos_body_piercings, "tattoos_body_piercings?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :tattoos_body_piercings, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :tattoos_body_piercings, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :kidney_liver_problems, "kidney_liver_problems?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :kidney_liver_problems, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :kidney_liver_problems, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :contrast_allergy, "contrast_allergy?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :contrast_allergy, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :contrast_allergy, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :ear_implants_hearing_aids, "ear_implants_hearing_aids?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :ear_implants_hearing_aids, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :ear_implants_hearing_aids, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :blood_bleeding_disorder, "blood_bleeding_disorder?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :blood_bleeding_disorder, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :blood_bleeding_disorder, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns div-border">
    
       <div class="large-5 columns">
          <%= label :IUD, "IUD?" %>
       </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :IUD, true, :value => true %>
      </div>

      <div class="large-3 columns div-border">
          <%= f.radio_button :IUD, false, :value => false %>
      </div>

    </div>
    </div>

  <div class='row'>
    <div class='large-8 large-offset-4 small-offset-2 columns'>
      <%= f.submit "Submit" %>
      <% end %> 
    </div>
  </div>


<% content_for :javascript do %>
  <script>
  var conditionArray =['Gunshot/BBS/Shrapnel wounds:',
                        'Vascular surgery:',
                        'Pacemaker/Heart surgery:',
                        'Brain surgery/Aneurysm Clips:',
                        'Diabetic:',
                        'Take Glucophage/Metformin?',
                        'History of Cancer/Tumors:',
                        'Tattoos/Body Piercings:',
                        'Kidney/Liver Problems:',
                        'Contrast Allergy:',
                        'Ear Implants/Hearing Aids:',
                        'Blood/Bleeding Disorder:',
                        'IUD:'];

    var answerArray =['yes','no'];
  </script>
<% end %>




