 <div class="row">
    <div class="small-12 columns">
      <%= simple_form_for @registration, url: screenings_path do |f| %>
        <div class="small-5 columns">
          <%= f.input :fname, label: false, placeholder: "first name" %>
        </div>

        <div class="small-7 columns">
          <%= f.input :lname, label: false, placeholder: "last name" %>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
        
        <div class="small-12 columns">
         <%= f.input :address, label: false, placeholder:"address" %>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">

        <div class="small-4 columns">
         <%= f.input :city, label: false, placeholder: "city" %>
        </div>

        <div class="small-4 columns">
         <%= f.input :state, label: false, placeholder:"state" %>
        </div>

        <div class="small-4 columns">
         <%= f.input :zip, as: :string, as: :string, label: false, placeholder:"zip" %>
        </div>

    </div>
  </div>

    <div class="row">
    <div class="small-12 columns">

        <div class="small-6 columns">
          <%= f.input :home_phone, as: :string, label: false, placeholder:"home phone" %>     
        </div>

        <div class="small-6 columns">
          <%= f.input :cell_phone, as: :string, label: false, placeholder:"cell phone" %> 
        </div>

    </div>
  </div>


  <div class="row">
    <div class="small-12 columns">
      
        <div class="small-6 columns">
            <%= f.input :height, label: false, placeholder:"height" %>
        </div>

        <div class="small-6 columns">
          <%= f.input :weight, label: false, placeholder:"weight" %>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      
        <div class="small-6 columns">
            <%= f.input :referring_physician, label: false, placeholder:"referring physician" %>
        </div>

        <div class="small-6 columns">
          <%= f.input :procedure_type, label: false, placeholder:"procedure type" %>
        </div>

    </div>
  </div>

    <div class="row">
    <div class="small-12 columns">
      
        <div class="small-6 columns">
            <%= f.input :insurance_provider, label: false, placeholder:"insurance provider" %>
        </div>

        <div class="small-6 columns">
          <%= f.input :id_number, label: false, placeholder:"id number" %>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      
        <div class="small-6 columns">
            <%= f.input :group_number, label: false, placeholder:"group number" %>
        </div>

        <div class="small-6 columns">
          <%= f.input :insurance_phone, label: false, placeholder:"insurance phone" %>
        </div>

    </div>
  </div>

<hr>

  <div class='row'>
    <div class="large-12 columns">
    
      <div class="large-8 columns">
          <p>Do you have, or have you experienced the following: </p>
       </div>

      <div class="large-2 columns">
        
        <p>yes</p>
         
      </div>

      <div class="large-2 columns">
        <p>no</p>
      </div>
 
    </div>
  </div>

    <div class='row'>
    <div class="large-12 columns">
    
      <div class="large-4 columns">
          
       </div>

      <div class="large-3 columns">
        
      </div>

      <div class="large-3 columns">
          
      </div>

      <div class="large-2 columns">
          
      </div>
 
    </div>
  </div>

  <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :gunshot_bbs_shrapnel_wounds, "gunshot, bbs, or shrapnel wounds?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :gunshot_bbs_shrapnel_wounds, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :gunshot_bbs_shrapnel_wounds, false, :value => false %>
      </div>


    </div>
  </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :vascular_surgery, "vascular_surgery?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :vascular_surgery, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :vascular_surgery, false, :value => false %>
      </div>

    </div>
  </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :pacemaker_heart_surgery, "pacemaker_heart_surgery?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :pacemaker_heart_surgery, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :pacemaker_heart_surgery, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :brain_surgery_aneurysm_clips, "brain_surgery_aneurysm_clips?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :brain_surgery_aneurysm_clips, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :brain_surgery_aneurysm_clips, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :diabetic, "diabetic?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :diabetic, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :diabetic, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :glucophage_metformin, "glucophage_metformin?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :glucophage_metformin, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :glucophage_metformin, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :cancer_tumors, "cancer_tumors?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :cancer_tumors, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :cancer_tumors, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :tattoos_body_piercings, "tattoos_body_piercings?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :tattoos_body_piercings, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :tattoos_body_piercings, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :kidney_liver_problems, "kidney_liver_problems?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :kidney_liver_problems, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :kidney_liver_problems, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :contrast_allergy, "contrast_allergy?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :contrast_allergy, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :contrast_allergy, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :ear_implants_hearing_aids, "ear_implants_hearing_aids?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :ear_implants_hearing_aids, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :ear_implants_hearing_aids, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :blood_bleeding_disorder, "blood_bleeding_disorder?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :blood_bleeding_disorder, true, :value => true %>
      </div>

      <div class="large-2 columns">
          <%= f.radio_button :blood_bleeding_disorder, false, :value => false %>
      </div>

    </div>
    </div>

    <div class='row'>
    <div class="large-12 columns">
    
       <div class="large-8 columns">
          <%= label :IUD, "IUD?" %>
       </div>

      <div class="large-2 columns">
          <%= f.radio_button :IUD, true, :value => true %>
      </div>

      <div class="large-2  columns">
          <%= f.radio_button :IUD, false, :value => false %>
      </div>

    </div>
    </div>

  <div class='row'>
    <div class='large-8 large-offset-5 small-offset-2 columns'>
      <%= f.submit "Submit" %>
      <% end %> 
    </div>
  </div>






