
<% content_for :title do %>
  Community Imaging | About
<% end %>

<% content_for :nav do %>
    <%= render "nav" %>
<% end %>


<% content_for :row1 do %>
  <div class="small-10 small-offset-1 columns"> 
    <div id="tabs" style="display: none;">

  <ul>
    <li><a href="#mission">Mission</a></li>
    <li><a href="#staff">Staff</a></li>
    <li><a href="#directions">Directions</a></li>
  </ul>

  <div id="mission">
    <%=render "mission" %>
  </div>

  <div id="staff">
    <%=render "staff" %>
  </div>

  <div id="directions">
    <%=render "directions" %>
  </div>

  </div>
 </div> 
<% end %>

<% content_for :footer do %>
    <%= render "footer" %>
<% end %>



