<% content_for :nav do %>
    <%= render "nav" %>
<% end %> 

<%content_for :title do %>
	Community Imaging | Patients
<% end %>

<% content_for :row1 do %>
	<div class="small-10 small-offset-1 columns">	
		<div id="tabs" style="display: none;">
			
			<ul>
				<li><a href="#regscreening"> Registration & Screening </a></li>
				<li><a href="#schedexam"> Schedule Exam </a></li>
				<li><a href="#survey"> Post Visit Survey </a></li>
			</ul>

	  	<div id="regscreening">
    		<%=render "regscreening" %>
	  	</div>

	  	<div id="survey">
    		<%=render "survey" %>
	  	</div>
			
	  	<div id="schedexam">
    		<%=render "schedexam" %>
	  	</div>
		  	  
		</div>
	</div>
<% end %>

<% content_for :footer do %>
    <%=render "footer" %>
<% end %>



