 <div class="row">
    <div class="small-8 columns">
        <div class="small-5 small-offset-1 column">
          
          <%= form_for @registration do |f| %>
          <%= f.label :fname, 'first name' %>:
          <%= f.text_field :fname %><br />
          <%= f.label :lname, 'last name' %>:
          <%= f.text_field :lname %><br />
          <%= f.submit %>
          <% end %>

        </div>

        <div class="small-5 column">

        </div>
    </div>
</div>

<hr>

<div class="row">
  <div class="small-8 columns">

    <div class="small-5 small-offset-1 column">

    </div>

    <div class="small-5 column">

    </div>

  </div>
</div>

<hr>

  <div class='row'>
    <div class="small-8 small-offset-1 columns">
      <ol id='registration'>
        <!--- Survey goes here !-->
      </ol>
    </div>
  </div>

  <div class='row'>
    <div class='small-offset-1 columns'>
      <a href="#" class="button">Submit</a>
    </div>
  </div>

<% content_for :javascript do %>
  <script>
  var conditionArray =['Gunshot/BBS/Shrapnel wounds:',
                        'Vascular surgery:',
                        'Pacemaker/Heart surgery:',
                        'Brain surgery/Aneurysm Clips:',
                        'Diabetic:',
                        'Take Glucophage/Metformin?',
                        'History of Cancer/Tumors:',
                        'Tattoos/Body Piercings:',
                        'Kidney/Liver Problems:',
                        'Contrast Allergy:',
                        'Ear Implants/Hearing Aids:',
                        'Blood/Bleeding Disorder:',
                        'IUD:'];

    var answerArray =['yes','no'];

    // iterate through condition array
    for(var i = 0; i < conditionArray.length; i++){

        // add the category name
        $("#registration").append( conditionArray[i] + '<br>');

        // iterate through rating array
        for(var x = 0; x < answerArray.length; x++){

          // add yes or no radio button & markup
          $("#registration").append( answerArray[x] + "<input type='radio' name='overall' value=" + "'" + answerArray[x] + "'" + "></input>" );
        }

        $("#registration").append('<br>');

        };


  </script>
<% end %>




