  
  <div class='row'>
    <div class="small-12 columns">
   
      <div class="small-12 columns">
        <h3>Schedule your exam today</h3>
      </div>
    
    </div>
  </div>

  <div class='row'>
    <div class="small-12 columns">
    
    <div class="small-12 small-offset-0 columns">   
      <p>If you would like a representative to call you to schedule your exam,  please fill out and submit this form.</p>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
        <%= simple_form_for lead, url: leads_path do |f| %>
        <div class="small-5 columns">
            <%= f.input :fname, label: false, placeholder: "first name" %>
        </div>

        <div class="small-7 columns">
          <%= f.input :lname, label: false, placeholder: "last name" %>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
        
        <div class="small-12 columns">
         <%= f.input :address, label: false, placeholder:"address" %>
        </div>

    </div>
  </div>

  
  <div class="row">
    <div class="small-12 columns">

        <div class="small-4 columns">
         <%= f.input :city, label: false, placeholder: "city" %>
        </div>

        <div class="small-4 columns">
         <%= f.input :state, label: false, placeholder:"state" %>
        </div>

        <div class="small-4 columns">
         <%= f.input :zip, as: :string, as: :string, label: false, placeholder:"zip" %>
        </div>

    </div>
  </div>

        
  <div class="row">
    <div class="small-12 columns">

        <div class="small-6 columns">
          <%= f.input :home_phone, as: :string, label: false, placeholder:"home phone" %>     
        </div>

        <div class="small-6 columns">
          <%= f.input :cell_phone, as: :string, label: false, placeholder:"cell phone" %> 
        </div>

    </div>
  </div>


    <div class="row">
      <div class="small-12 columns">
        
        <div class="small-12 columns">
         <%= f.input :email, label: false, placeholder:"email" %>
        </div>
      
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        
        <div class="small-6 columns">
         <%= f.input :status, label: false, placeholder:"patient status (new or returning)" %>
        </div>

        <div class="small-6 columns">
         <%= f.input :ordering_physician, label: false, placeholder:"ordering physician" %>
        </div>

      </div>
    </div>

        
    <div class="row">
      <div class="small-12 columns">
        
        <div class="small-6 columns">
         <%= f.input :exam, label: false, placeholder:"exam" %>
        </div>      
  
        <div class="small-6 columns">
         <%= f.input :time_to_call, label: false, placeholder:"best time to call" %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">

        <div class="small-12 columns">
         <%= f.input :comments, as: :string, label: false, placeholder:"comments" %>
        </div>

      </div>
    </div>

    <div class='row'>
      <div class="small-12 columns">
        
        <div class="large-offset-5 small-offset-0 columns">
          <%= f.submit "Submit" %>
        </div>

      </div>
    </div>
      
    <% end %> 
